  <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">

        </ul>

        <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
            <li class="nav-item dropdown">
                <a class="nav-link" href="#" id="user-account-dropdown" role="button" data-bs-toggle="dropdown"
                aria-expanded="false">
                    <i class="bi bi-menu-button-wide"></i>
                </a>
                <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="user-account-dropdown">
                    <li><a class="dropdown-item" href="{% url 'home' %}"> Refugee and Asylum Seeker</a></li>
                </ul>
            </li>

        </ul>

    </div>
